---
name: CI
"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
        linter: [yapf, flake8, mypy]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox==$(grep tox < test-requirements.txt | awk -F'==' '{print $2}')
      - name: Lint ${{ matrix.linter }}
        run: tox -e ${{ matrix.linter }}
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        mypy-version:
          - mypy==0.770
          - mypy==0.780
          - mypy==0.790
          - -e git+https://github.com/python/mypy.git#egg=mypy
        loguru-version:
          - loguru==0.4.0
          - loguru==0.5.0
          - loguru==0.5.3
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install tox==$(grep tox < test-requirements.txt | awk -F'==' '{print $2}')
          pip install tox-gh-actions
      - name: Patch test dependencies
        run: |
          awk '!/loguru/' requirements/tests.txt > tmp.txt \
            && mv -f tmp.txt requirements/tests.txt
          awk '!/mypy/'   requirements/tests.txt > tmp.txt \
            && mv -f tmp.txt requirements/tests.txt

          echo "${{ matrix.loguru-version }}" >> requirements/tests.txt
          echo "${{ matrix.mypy-version }}" >> requirements/tests.txt
      - name: Test
        run: tox
